.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .header__menu {
        flex: 1;
        text-align: right;
        margin-right: 0.375rem; 

        @include tablets {
            display: none;
        }
    }

    .header__links {
        display: flex;
        align-items: center;
        margin-left: 0.5625rem;                
    
        @include tablets {
            margin-right: 4rem;
        }
    }
}
