/* Fonts */

@font-face{
    font-family: Ubuntu;
    src: url(/fonts/Ubuntu-L.ttf);
}

@font-face{
    font-family: Lifehack;
    src: url('/fonts/DearType\ -\ Lifehack\ Basic.otf');
}

@font-face{
    font-family: LifehackMedium;
    src: url('/fonts/DearType\ -\ Lifehack\ Medium.otf');
}

@font-face {
    font-family: Gagalin-Regular;
    src: url(/fonts/Gagalin-Regular.otf);
}