.best {
    background: url("../img/background/bg.png") no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    background-position: center center; 

    .best__list {
        display: flex; 
    }

    .best__icon {
        height: 5.3125rem; 
        max-width: 95%; 
    }     
}

.section__title {
    line-height: 1em; 
    margin-bottom: 50px
}

.section__title.section__title-black {
    color: #2f3234;
    margin-top: -40px;
}

.best__item {
    margin-bottom: 50px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    flex: 1; 
}

.best__img {
    margin-bottom: 0.9375rem; 
}

.best__name {
    font-size: 24px;
    font-family: LifehackMedium;
    font-weight: 500;
    font-style: normal;
    color: #2f3234;
    margin-bottom: 1.25rem; 
    
}

.best__text p {
    font-family: Ubuntu;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 300;
    line-height: 24.07px;   
    color: #2f3234;
}