.hamburger-menu-link {
    vertical-align: middle;
    height: 1.375rem;
    align-items: center;
    margin-left: 1.875rem;
    display: none; 
    position: fixed;
    top: 2.2rem;
    right: 2.2rem;
    z-index: 2; 

    @include tablets {
        display: flex;
    }
}
 
.hamburger-menu-link__bars, .hamburger-menu-link__bars:before, .hamburger-menu-link__bars:after {
    background: #fff;
    width: 1.5rem;
    height: 0.3125rem;
    border-radius: 3px;
    z-index: 100;
    cursor: pointer;
    transition: transform .25s ease; 
}

.hamburger-menu-link__bars:before, .hamburger-menu-link__bars:after {
    content: "";
    display: block;
    position: absolute; 
}

.hamburger-menu-link__bars:before {
    top: 0; 
}

.hamburger-menu-link__bars:after {
    bottom: 0; 
}

.hamburger-menu-link.is-active .hamburger-menu-link__bars {
    background: transparent; 
}
.hamburger-menu-link.is-active .hamburger-menu-link__bars:before {
    transform: translateY(0.625rem) translateX(0) rotate(45deg);
    border-radius: 5px; 
}

.hamburger-menu-link.is-active .hamburger-menu-link__bars:after {
    transform: translateY(-0.4375rem) translateX(0) rotate(-45deg);
    border-radius: 5px; 
}

.hamburger-menu {
    position: absolute;
    left: -6249.9375rem;
    right: 0;
    background: rgba(47, 50, 52, 0.95);
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 10;
    transition: opacity .3s;

}

.hamburger-menu.is-active {
    display: flex;
    opacity: 1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1; 
}
  