.menu {
    background: url('../../img/menu/bg/photo-1428660386617-8d277e7deaf2.png') 50% no-repeat;
    background-size: cover;
    position: relative;
}

.menu__title {
    position: absolute;
    top: 10%;
    left: 10%;
}

.section__title-white{
    color: #fff;
    margin-right: 2rem;
    @include tablets {
        text-align: left;
        margin: 0;
    }
}

.menu__accordeon {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;

    &:after{
        content: "";
        display: block;
        clear: both;
    }
}

.menu__accordeon-item{
    display: flex;                                          
    height: 100%; 
}

.menu__accordeon-item.active .menu__accordeon-text {
    color: #f9b43b; 
}

.menu__accordeon-item.active .menu__accordeon-content {
    width: 34.375rem; 

    @include tablets {
        width: 25.2rem;
    }

    @include phones {
        width: 15.7rem;
    }
}

.menu__accordeon-link{
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;                                           
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-decoration: none;
    position: relative; 

    @include tablets {
        width: 3rem;
    }

    @include phones {
        width: 4rem;

    }
    
}

.menu__accordeon-text{
    font-size: 2.5rem;
    color: #fff;
    font-family: Gagalin-Regular;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    white-space: nowrap;
    transform: rotate(-90deg);

    @include tablets {
        font-size: 2.5rem;
    }

    @include phones {
        font-size: 2.5rem;
    }
}

.menu__accordeon-content{
    height: 100%;                                        /*Error */ 
    background: rgba(47, 50, 52, 0.93);
    width: 0;
    overflow: hidden; 
}

.menu__accordeon-desc{
    font-family: Ubuntu, Verdana, Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 0.875rem;
    color: #fff;
    padding: 3.75rem 1.875rem;
    width: 100%;
    line-height: 1.8;
}