.points__list {
    position: fixed;
    top: 5.625rem;
    right: 8.2rem; 

} 

.points__item {
    margin-bottom: 5px; 
}


/* Переключатели */

.radio input { 
    display: none; 
}
           
.radio span {
    position: relative; 
    display: flex; 
    width: 16px; 
    height: 16px; 
    background: rgb(253, 252, 252);
    border-radius: 50%; 
    box-shadow: inset 0 0 5px rgba(251, 251, 251, 0.5); 
}
.radio input:checked + span { 
    background: black;
}
           
.radio input:checked + span:before { 
    content: '';
    position: absolute;
    left: 5px; 
    top: 5px;
    background: #fff;
    width: 6px; 
    height: 6px;
    border-radius: 50%;
    line-height: 10px;
}