.points__list {
    position: fixed;
    top: 5.625rem;
    right: 2.5rem; 

} 

.points__link {
    width: 1rem;
    height: 1rem;
    display: block;
    position: relative; 

    &:after, &:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%; 
    }

    &:after {
        width: 6px;
        height: 6px;
        background: #fff; 
    }

    &:before {
        width: 0px;
        height: 0px;
        border-radius: 50%;
        border: 1px solid #fff;
        opacity: 0;
        transition: .3s; 
    }

    &:hover:before {
        width: 14px;
        height: 14px;
        opacity: 1; 
    }
}

.points__item.active .points__link:before {
    width: 14px;
    height: 14px;
    opacity: 1; 
}

.points__item {
    margin-bottom: 5px; 
}
  