.section {
    height: 100vh;
    min-height: 40.625rem;
    position: relative;
    display: flex;
    overflow: auto;

    @include tablets {
        overflow: hidden;
    }
}


.section__title {
    color: #f9b43b;
    font-size: 4.6875rem;
    font-family: Gagalin-Regular;
    font-weight: normal;
    
    text-transform: uppercase;
    margin-bottom: 3.125rem;

    @include tablets {
        font-size: 4.125rem;
        text-align: center;
        width: 100%;
        margin-bottom: 2.125rem;
        
    }

    @include phones {
        font-size: 3.125rem;
        margin-bottom: 4rem;
    }
}