.modal__window {
    padding: 1.5625rem 1.25rem;
    position: relative;
    border-radius: 5px;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(47, 50, 52, 0.95);
}

.modal__window.modal__window-notActive {
    display:block;
}

.modal__content {
    max-width: 28.125rem;
    padding: 1.5625rem 1.25rem;
    padding-right: 3rem;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    height: auto;



    @include small-phones {
        width: 90%;

    }
}

.modal__title {
    font-family: Gagalin-Regular;
    font-weight: normal;
    font-style: normal;
    font-size: 0.875rem;
    text-transform: uppercase;
    margin-bottom: 1.5625rem;

    @include tablets {
        font-size: 1.875rem;
    }

    @include small-phones {
        font-size: 1rem;
    }
}

.modal__desc {
    font-family: Ubuntu;
    font-weight: 300;
    font-style: normal;
    font-size: 0.875rem;



    @include tablets {
        font-size: 1.2rem;
    } 

    @include small-phones {
        font-size: 1rem;
    }
}

.modal__window-close {
    width: 1.25rem;
    height: 1.25rem;
    display: block;
    position: absolute;
    right: 1.25rem;
    top: 1.25rem;
    opacity: 1;
    transition: .3s;
    background-size: contain;
    background: url(../img/modal/close.png) no-repeat;
}

.close__btn {
    width: 100%;
    height: 100%;
}

