.nav {
    display: inline-block;
    vertical-align: middle;
}


.nav__list {
    width: 100%; 
    

    &:after {
        content: '';
        display: block;
        clear: both;
    }

    @include tablets {
        text-align: center;
        
    }
}

.nav__item {
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle; 
    
    
    &.nav__item:last-child {
      margin-right: 0;
      
      
      &.nav__item:last-child:after {
        display: none; }
    }
}

.nav__item:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    background: white;
    margin: 0 0.875rem; 
}

.nav__link {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.8125rem;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-family: Ubuntu, sans-serif;
    font-weight: 500;
    font-style: normal;

    &:hover{
        text-decoration: underline;
    }
}